#field{
  display: grid;
  justify-items: center;
  height: 220px;
  grid-template-rows: 55px 55px 55px 55px;
  grid-template-columns: 55px 55px 55px 55px;
}

li {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 2px solid black;
  text-align: center;
}

img {
  width: 35px;
  height: 35px;
}

.hammer {
  cursor: url(/img/hammer3.png) 23 23, pointer;
}